<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.solarex.customviewdemos">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CircleProgressActivity"
            android:label="CircleProgress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchViewActivity"
            android:label="SearchView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PaperPlaneActivity"
            android:label="PaperPlane">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DashboardViewDemoActivity"
            android:label="Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.AvaterViewActivity"
            android:label="Avater">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PieChartActivity"
            android:label="PieChart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PorterDuffXfermode"
            android:label="Xfermode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DisscrollViewActivity"
            android:label="DisscrollView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.FlowLayoutActivity"
            android:label="FlowLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SolarexProgressActivity"
            android:label="SolarexProgress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.TableViewActivity"
            android:label="TableView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.BezierActivity"
            android:label="Bezier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.WeeklyCalendarActivity"
            android:label="WeeklyCalendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RadarViewActivity"
            android:label="RadarView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ZoomImageViewActivity"
            android:label="ZoomImageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.NumberProgressbarActivity"
            android:label="NumberProgressbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SwipebackActivity"
            android:label="Swipeback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DouyinLoadingActivity"
            android:label="DouyinLoadingView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SleepStatisticsActivity"
            android:label="SleepStatistics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DisplayConnectActivity"
            android:label="DisplayConnect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DisplayConnectWithTextActivity"
            android:label="DisplayConnectWithText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.TwoPagerActivity"
            android:label="TwoPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MultiTouch1Activity"
            android:label="MultiTouch/3个Button">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MultiTouch2Activity"
            android:label="MultiTouch/3个View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MultiTouch3Activity"
            android:label="MultiTouch/1个Button2个View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MultiTouch4Activity"
            android:label="MultiTouch/1个Button1个View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DragHelperGridViewActivity"
            android:label="Drag/DragHelperGridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.StarViewActivity"
            android:label="StarView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DemoTestActivity1"
            android:label="ZDemoTest/DemoTest1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DemoTestActivity2"
            android:label="ZDemoTest/DemoTest2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.span.IconTextSpanTestActivity"
            android:label="ZDemoTest/IconTextSpanTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HeartRatePercentActivity"
            android:label="HeartRatePercent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HeartRateRulerActivity"
            android:label="HeartRateRuler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HeartRateEnergyControlActivity"
            android:label="HeartRateEnergyControl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HeartRateRangeCircleActivity"
            android:label="HeartRateRangeCircle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DemoTestKeyboardIndexableLayout"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="ZDemoTest/DemoTestKeyboardIndexablelayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DemoTestKeyboardFramelayout"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="ZDemoTest/DemoTestKeyboardFramelayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.HGradientViewActivity"
            android:label="HGradientView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ExpandTextViewActivity"
            android:label="ExpandTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DynamicSingleChoiceActivity"
            android:label="DynamicSingleChoice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DynamicMultiChoiceActivity"
            android:label="DynamicMultiChoice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.InputEventStacktraceActivity"
            android:label="InputEventStackTrace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.KetonuriaTestingActivity"
            android:label="KetonuriaTesting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>

    </application>

</manifest>