<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.solarex.customviewdemos">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CircleProgress1Activity"
            android:label="CircleProgress/CircleProgress1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CircleProgress2Activity"
            android:label="CircleProgress/CircleProgress2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CircleProgress3Activity"
            android:label="CircleProgress/CircleProgress3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BezierDemo1Activity"
            android:label="Bezier/BezierDemo1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BezierDemo2Activity"
            android:label="Bezier/BezierDemo2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NumberProgressActivity"
            android:label="NumberProgress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchViewActivity"
            android:label="SearchView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PaperPlaneActivity"
            android:label="PaperPlane">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DashboardViewDemoActivity"
            android:label="Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.AvaterViewActivity"
            android:label="Avater">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="solarex.intent.category.customview"/>
            </intent-filter>
        </activity>
    </application>

</manifest>